<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
  <!-- Hibernate config -->
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Exportador_Ventas_ServP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--Cadenas de coneccion -->
    <add key="Main.ConnectionString" value="data source=XPDESARROLLOXPS\SQLEXPRESS;initial catalog=Estacion_Vista2;integrated security=SSPI;persist security info=False;packet size=4096"/>
    <add key="App.ConnectionString" value="data source=XPDESARROLLOXPS\SQLEXPRESS;initial catalog=Expo;integrated security=SSPI;persist security info=False;packet size=4096"/>
    <!--Archivos de configuracion para EstacionDB.dll -->
    <add key="ServConfig" value="\ConfigHibernate\configServ.cfg.xml"/>
    <add key="ExpoConfig" value="\ConfigHibernate\configExpo.cfg.xml"/>
    <!-- Configuraciones relacionadas con ServiPunto-->
    <add key="NombreVista" value="ViewVentas"/>
    <add key="NombreVistaLecturas" value="ViewLecturas"/>
    <add key="NombreTablaEmpleados" value="EMPLEADO"/>
    <add key="codigoDiesel" value="3"/>
    <add key="codigoSuper" value="1"/>
    <add key="codigoCorriente" value="2"/>
    <add key="grupoIsla1" value="1,2"/>
    <add key="grupoIsla2" value="3,4"/>
    <add key="CorrienteMultiplicarX" value="10"/>
    <add key="SuperMultiplicarX" value="10"/>
    <add key="DieselMultiplicarX" value="10"/>
    <!--Propiedades para la exportacion a Helissa -->
    <add key="RutaPrincipalExport" value="C:\Temp\"/>
    <add key="Separador" value=";"/>
    <add key="Encabezados" value="No"/>
    <add key="TipoMovimiento" value="VC"/>
    <add key="NatutalezaDebito" value="D"/>
    <add key="NatutalezaCredito" value="C"/>
    <add key="NitEDS" value="830051180"/>
    <add key="NitSodexo" value="800219876"/>
    <add key="NitBigPass" value="800112214"/>
    <add key="NitTicketTronik" value="900193602"/>
    <add key="NitBanco" value="860002964"/>
    <add key="CuentaBancaria" value="03970201-4"/>
    <add key="CuentaCredito" value="13050501"/>
    <add key="CuentaEfectivo" value="11050501"/>
    <add key="CuentaSodexo" value="13050501"/>
    <add key="CuentaBigPass" value="13050501"/>
    <add key="CuentaTarjetas" value="11200501"/>
    <add key="CuentaOtros" value="28050501"/>
    <add key="CuentaTarjetaPlus" value="28050502"/>
    <add key="CuentaTicketTronik" value="13050501"/>
    <add key="CuentaSobretasaCorriente" value="24440501"/>
    <add key="CuentaSobretasaSuper" value="24440502"/>
    <add key="CuentaSobretasaDiesel" value="24440503"/>
    <add key="CuentaVentaCorriente" value="41350801"/>
    <add key="CuentaVentaSuper" value="41350802"/>
    <add key="CuentaVentaDiesel" value="41350803"/>
    <add key="CuentaAjuste" value="42950501"/>
    <add key="HomologarNits" value="true"/>
  </appSettings>
  <userSettings>
    <Exportador_Ventas_ServP.Properties.Settings>
      <setting name="nombreEDS" serializeAs="String">
        <value>El Pino</value>
      </setting>
      <setting name="Direccion" serializeAs="String">
        <value>Calle 73 # 12 - 98</value>
      </setting>
      <setting name="NombreDiesel" serializeAs="String">
        <value>DIESEL</value>
      </setting>
      <setting name="NombreSuper" serializeAs="String">
        <value>SUPER</value>
      </setting>
      <setting name="NombreCorriente" serializeAs="String">
        <value>CORRIENTE</value>
      </setting>
      <setting name="CentroCostos" serializeAs="String">
        <value>0901</value>
      </setting>
      <setting name="grupoIsla" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>1,2</string>
            <string>3,4</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="NITEDS" serializeAs="String">
        <value>830.051.180-7</value>
      </setting>
      <setting name="telefonoEDS" serializeAs="String">
        <value>3107855</value>
      </setting>
      <setting name="codigoCIIU" serializeAs="String">
        <value>4731</value>
      </setting>
      <setting name="DiferenciaSaldoDisposicion" serializeAs="String">
        <value>2000</value>
      </setting>
    </Exportador_Ventas_ServP.Properties.Settings>
  </userSettings>
</configuration>